# Folder listing
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Git
alias g='git'
alias g-root='cd "$(git rev-parse --show-cdup)"'
alias g-remove-untracked='git fetch --prune && git branch -r | awk "{print \$1}" | egrep -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk "{print \$1}" | xargs git branch -D'

# Generate SSH keys
alias sshGen='ssh-keygen -t rsa -b 4096 -C'
