[include]
    path = ~/.gitconfig.local
[core]
  autocrlf = input
  editor = vim
[push]
  default = simple
[pull]
  rebase = true
[alias]
  a = !git add -- "$@" && printf '\n' && git s && printf '\n'
  cl = clean
  co = checkout
  cm = commit -m
  graph = log --graph --all --decorate --stat --date=iso
  local = log @{u}..
  localdiff = diff --word-diff @{u}..
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  re = "!f(){ clear && printf '\n' && git reset && printf '\n'; };f" 
  s = "!f(){ clear && printf '\n' && git status -s && printf '\n'; };f"
  st = !git fetch && git s
  stats = shortlog -sn --all --no-merges
  wd = diff --word-diff
[log]
  date = relative
[format]
  pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
[color "status"]
  added = green
  changed = yellow
  untracked = red
