[include]
    path = ~/.gitconfig.local
[core]
  autocrlf = input
  editor = vim
[push]
  default = simple
[pull]
  rebase = true
[push]
  default = current
[alias]
  a = add
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  cl = clean
  co = checkout
  cm = commit -m
  am = commit --amend --no-edit:
  graph = log --graph --all --decorate --stat --date=iso
  local = log @{u}..
  localdiff = diff --word-diff @{u}..
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  re = "!f(){ clear && printf '\n' && git reset && printf '\n'; };f" 
  s = status
  st = !git fetch && git status
  stats = shortlog -sn --all --no-merges
  publish = "!git push -u origin $(git branch-name)"
  wd = diff --word-diff
[log]
  date = relative
[format]
  pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
[color "status"]
  added = green
  changed = yellow
  untracked = red
