[add-interactive]
    useBuiltin = false
[alias]
    a = add --patch --verbose
    cm = commit --verbose
    co = checkout
    d = diff
    ds = diff --staged
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    pl = pull
    ps = push
    r = reset
    s = status -s
    stats = shortlog -sn --all --no-merges
    tags = log --no-walk --tags --decorate=full
[core]
    autocrlf = input
    editor = nvim
    pager = delta
[delta]
    features = decorations
    light = false
    navigate = true
    side-by-side = false
[delta "interactive"]
    keep-plus-minus-markers = false
[diff]
    colorMoved = default
    wordRegex=.
[format]
    pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
[include]
    path = ~/.gitconfig.local
[interactive]
    diffFilter = delta --color-only --features=interactive
[log]
    date = relative
[merge]
    conflictstyle = diff3
    tool = code
[push]
    default = simple
[pull]
    rebase = true
[push]
    default = current
[color "status"]
    added = green
    changed = yellow
    untracked = red
