[add-interactive]
    useBuiltin = false
[alias]
    a  = add --patch --verbose
    cm = commit --verbose
    co = checkout
    d  = diff
    ds = diff --staged
    f  = fetch --prune
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    pl = pull
    ps = push
    r  = reset
    s  = status --short --untracked-files=all
    sw = switch
[blame]
    ignore-revs-file = .git-blame-ignore-revs
    mark-ignored-lines = true
    mark-unblamable-lines = true
[core]
    autocrlf = input
    editor = nvim
    pager = delta
[delta]
    features = unobtrusive-line-numbers decorations
    light = false
    navigate = true
    side-by-side = true
    hunk-header-style= omit
[delta "unobtrusive-line-numbers"]
    line-numbers = true
    line-numbers-minus-style = "#8c0502"
    line-numbers-zero-style = "#444444"
    line-numbers-plus-style = "#2e8c02"
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = blue
    line-numbers-right-style = blue
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box
[delta "interactive"]
    keep-plus-minus-markers = false
[diff]
    colorMoved = default
    wordRegex = .
[format]
    pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
[include]
    path = ~/.gitconfig.local
[interactive]
    diffFilter = delta --color-only --features=interactive
[log]
    date = relative
[merge]
    conflictstyle = diff3
    tool = code
[push]
    default = simple
[pull]
    rebase = true
[push]
    default = current
	autoSetupRemote = true
[color "status"]
    added = green
    changed = yellow
    untracked = red
[init]
	defaultBranch = main
