[include]
  path = ~/.gitconfig.local
  path = ~/.gitconfig.delta.themes
[core]
  autocrlf = input
  editor = vim
  pager = delta
[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
  features = villsau
  line-numbers = true
[interactive]
  diffFilter = delta --color-only
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
[push]
  default = simple
[pull]
  rebase = true
[push]
  default = current
[alias]
  a = add
  cm = commit
  co = checkout
  p = push
  f = pull
  graph = log --graph --all --decorate --stat --date=iso
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  s = status -s
  stats = shortlog -sn --all --no-merges
  tags = log --no-walk --tags --decorate=full
  wd = diff --word-diff
[diff "sopsdiffer"]
  textconv = sops -d
[log]
  date = relative
[format]
  pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
[color "status"]
  added = green
  changed = yellow
  untracked = red
[diff]
  wordRegex=.
  tool = vimdiff
[merge]
  tool = vimdiff
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
